* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Font styles */
.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* color section */

.primary-color {
  color: #e95a08;
}
.dark02 {
  color: rgba(0, 0, 0, 0.5);
}

/* sheared style */
.display-flex {
  display: flex;
  justify-content: space-around;
}

.text-m {
  font-weight: bold;
}

/* Header syles  */

nav {
  max-width: 1140px;
}
.nav-var {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  align-items: center;
}
nav li {
  text-decoration: none;
}
nav ul {
  list-style: none;
  width: 410px;
  height: 24px;
}
/* Hero Banner style */
.hero-banner {
  max-width: 1140px;
  margin: 0 auto;
  align-items: last baseline;
  margin-top: 130px;
}
.banner-tittle {
  font-size: 4rem;
  font-weight: bold;
}
.banner-dis {
  font-size: 1.3rem;
  margin-top: 13px;
  width: 570;
  height: 108px;
}
.banner-img {
  width: 570px;
  height: 355px;
}

/* banner-plants styles */

.banner-plants {
  text-align: center;
  margin-top: 140px;
}
.plants-tittle {
  font-weight: bold;
  font-size: 3.2rem;
}
.plants-pera {
  font-size: 1.3rem;
}
.plants-card-areas {
  max-width: 1140px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
}
.palnts-card {
  width: 270px;
  height: 485px;
  margin-bottom: 30px;
}
.plant-tittle2 {
  font-size: 1.3rem;
  margin-top: 30px;
  text-align: center;
}
.h4-gap {
  margin-top: 10px;
}
.btn {
  margin-top: 30px;
  padding: 19px 50px;
  height: 50px;
  width: 270px;
  background-color: #e95a08;
  border: none;
}
.btn-tittle {
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

/* media Quarey */

@media screen and (max-width: 576px) {
  .nav-hide {
    display: none;
  }
  /* .nav-var {
    width: 361px;
    height: 38px;
  } */
  .hero-banner {
    flex-direction: column;
    align-items: center;
  }
  .banner-img {
    height: 576px;
  }
  .plants-card-areas {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
